<h2>{{name}}</h2>

<p>Description: {{description}}</p>
<p>Auction Date: {{auctionDate}}</p>

{{outlet}}

<h3>Items</h3>

{{#each item in items}}
<p>
{{item.name}}
</p>
{{/each}}

<p>{{#link-to 'new-item' this class="btn btn-success"}}New item{{/link-to}}</p>
