<h2>{{name}}</h2>

<p>Description: {{description}}</p>
<p>Auction Date: {{auctionDate}}</p>

{{outlet}}

<h3>Items</h3>
<ul>
  {{#each item in items}}
    <li>{{item.name}}<br />
        {{item.description}}<br />
        ${{item.price}}, {{item.auctionDate}}<br />
        <img {{bind-attr src=item.imgUrl}} style="width: 100px; height:auto">
    </li>
  {{/each}}
</ul>

<p>{{#link-to 'new-item' this class="btn btn-success"}}New item{{/link-to}}</p>
